<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="imageContainer">
        <div align="left">
            <% images.map(function(image){ %>
                <% if (image.thumbnail){ %>
                    <img class="imageGot" src=<%=image.thumbnail%> >

                    <% } %>
                        <% }) %>
        </div>
    </div>
</body>

</html>